body{
  background-color: teal;
  color:white;

}
section{
    display:block;
}
.name{
  font-weight: bold;
  font-size:2.5em;
}
.address{
  font-weight: bolder;
}
.phone{
  font-weight: bolder;
}
